@charset "UTF-8";
:root {
  --cor-roxo-principal: #7F66A3;
  --cor-roxo-escuro: #4A2E4B;
  --cor-azul-escuro: #385A8C;
  --cor-branco-claro: #F9F9F9;
  --cor-cinza-claro: #B8B8B8;
}
/*COLOCANDO RESPONSIVIDADEPARA TELA*/
/*PARA TABLETS*/
@media screen  and (min-width: 768px) and (max-width: 992px){
    body {  background-color: #F9F9F9;

}
    div#formulario h1{
        text-align: center;
        color: var(--cor-roxo-escuro);
        margin-bottom: 9px;
        font-size: 1.6em;
    }
    div#formulario p{
        text-align: center;
        color: #8f8d8d;
        margin-bottom: 20px;
        font-size: 0.9em;
    }
    .campo{
        width: 90%;
    }
    section#login > div#formulario{
    border-radius: 4px;
        display: block;
    }
    #login{
        width: 70%;
        height: 350px;
    }
    section#login > div#img{ /*fazendo isso, para ficar um do lado do outro*/
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login > div#formulario{ /*fazendo isso, para ficar um do lado do outro*/
        float: right;
        width: 60%;
    }
    
}
@media screen  and (min-width: 992px) and (max-width: 1200px){
    body {  background-color: #F9F9F9;
}
    div#formulario h1{
        text-align: center;
        color: var(--cor-roxo-escuro);
        margin-bottom: 9px;
        font-size: 1.7em;
    }
    div#formulario p{
        text-align: center;
        color: #8f8d8d;
        margin-bottom: 20px;
        font-size: 1em;
    }/*
    .campo{
        width: 91%;
    }*/
    section#login > div#formulario{
    border-radius: 4px;
    }
    #login{
        width: 700px; /*isso para parar de crescer, ñ ficar mt longo*/
        height: 370px;
    }
    section#login > div#img{ /*fazendo isso, para ficar um do lado do outro*/
        float: left;
        width: 45%;
        height: 100%;
    }
    section#login > div#formulario{ /*fazendo isso, para ficar um do lado do outro*/
        float: right;
        width: 55%;
    }
    
}
@media screen  and (min-width: 1200px) {
    body {  background-color: #F9F9F9; }
    div#formulario h1{
        text-align: center;
        color: var(--cor-roxo-escuro);
        margin-bottom: 9px;
        font-size: 1.7em;
    }
    div#formulario p{
        text-align: center;
        color: #8f8d8d;
        margin-bottom: 20px;
        font-size: 1em;
    }/*
     .campo{
        width: 90%;
    }*/
    section#login > div#formulario{
    border-radius: 4px;
    }
    #login{
        width: 800px; /*isso para parar de crescer, ñ ficar mt longo*/
        height: 385px;

    }
    section#login > div#img{ /*fazendo isso, para ficar um do lado do outro*/
        float: left;
        width: 45%;
        height: 100%;
    }
    section#login > div#formulario{ /*fazendo isso, para ficar um do lado do outro*/
        float: right;
        width: 55%;
    }
    
}
   